A pandas Series is a one-dimensional labeled array that can hold data of any type (integer, float, string, etc.). It is similar to a one-column table in a spreadsheet or a database. Each element in a Series has a label called an index.

Key Characteristics of a Pandas Series:
- One-dimensional: A Series is a one-dimensional array-like structure.
- Labeled: Each element in a Series has an associated label (index).
- Homogeneous Data: All elements in a Series are of the same data type.
- Size Immutable: Once a Series is created, the size cannot be changed.

In [14]:
import pandas as pd
import numpy as np

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data

To sum up, create data series from a list

In [2]:
ds = pd.Series([2,3,4])
ds

0    2
1    3
2    4
dtype: int64

2. Write a Pandas program to convert a Panda module Series to Python list and it's type

In [3]:
ds = pd.Series([2,3,4])

In [5]:
list_ds = list(ds)
list_ds

[2, 3, 4]

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series

In [7]:
sample_1 = pd.Series([2, 4, 6, 8, 10])
sample_2 = pd.Series([1, 3, 5, 7, 9])
result = sample_1 - sample_2
result

0    1
1    1
2    1
3    1
4    1
dtype: int64

4. Write a Pandas program to compare the elements of the two Pandas Series.

In [8]:
sample_1 = pd.Series([2, 4, 6, 8, 10])
sample_2 = pd.Series([1, 3, 5, 7, 9])
check_greater = sample_1 > sample_2
check_smaller = sample_1 < sample_2
check_equal = sample_1 == sample_2 

# The result is also a pandas series

In [9]:
check_greater

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [12]:
list(check_greater)

[True, True, True, True, True]

In [10]:
check_smaller

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [11]:
check_equal

0    False
1    False
2    False
3    False
4    False
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.

In [13]:
dict_sample = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
series_sample = pd.Series(dict_sample)
series_sample

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [17]:
arr_sample = np.array([1, 2, 3, 4, 5])
series_sample = pd.Series(arr_sample)
series_sample

0    1
1    2
2    3
3    4
4    5
dtype: int64

7. Write a Pandas program to change the data type of given a column or a Series.

In [18]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [21]:
print("Change the said data type to numeric:")
s2 = pd.to_numeric(s1, "coerce")  #"coerce" mean if the value can not tranform, it will be replaced by None
print(s2)

Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [22]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)

In [26]:
s1 = df['col1']
print(s1)
print(type(s1))

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

9. Write a Pandas program to convert a given Series to an array.

In [28]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
array_s1 = s1.values
print("\nArray converted from Series:")
print(array_s1)

Array converted from Series:
['100' '200' 'python' '300.12' '400']

10. Write a Pandas program to convert Series of lists to one Series.

In [29]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])

In [30]:
print("Original Series of list")
print(s)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [32]:
united = s.apply(pd.Series).stack().reset_index(drop=True)
print(united)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

11. Write a Pandas program to sort a given Series.

In [35]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
new_s = pd.Series(s).sort_values(ascending=False)
print(new_s)

2    python
4       400
3    300.12
1       200
0       100
dtype: object

12. Write a Pandas program to add some data to an existing Series.

In [37]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
new_s = pd.concat([s, pd.Series([500, "php"])],ignore_index=True)
print(new_s)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and condition.

In [39]:
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
n  = 6
new_s = s[s < n]
print(new_s)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

14. Write a Pandas program to change the order of index of a given series.

In [40]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print(s)
new_s = s.reindex(index = ['B','A','C','D','E'])
print(new_s)

A    1
B    2
C    3
D    4
E    5
dtype: int64
B    2
A    1
C    3
D    4
E    5
dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [42]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
mean = s.mean()
print(mean)
median = s.median()
print(median)

4.818181818181818
5.0

16. Write a Pandas program to get the items of a given series not present in another given series.

In [47]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
list_sr1 = list(sr1)
list_sr2 = list(sr2)
union1 = [e for e in list_sr1 if e not in list_sr2]
union2 = [e for e in list_sr2 if e not in list_sr1]
union1.extend(union2)
series_union = pd.Series(union1)
print(series_union)

0     1
1     3
2     5
3     6
4     8
5    10
dtype: int64

19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [48]:
# Create a sample series
data = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])

# Calculate frequency counts of each unique value
frequency_counts = data.value_counts()

print(frequency_counts)

4    4
3    3
2    2
1    1
Name: count, dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [53]:
# Create a sample series
data = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])

# Find the most frequent value
most_frequent_value = data.mode()[0]

# Replace all values except the most frequent one with 'Other'
data = data.apply(lambda x: x if x == most_frequent_value else 'Other')

print(data)

0    Other
1    Other
2    Other
3    Other
4    Other
5    Other
6        4
7        4
8        4
9        4
dtype: object

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [55]:
import pandas as pd

# Create a sample series
data = pd.Series([10, 15, 20, 25, 30, 35, 88])

# Find positions of numbers that are multiples of 5
positions = data[data % 5 == 0].index.tolist()

print("Positions of numbers that are multiples of 5:")
print(positions)

Positions of numbers that are multiples of 5:
[0, 1, 2, 3, 4, 5]

22. Write a Pandas program to extract items at given positions of a given series.

In [59]:
num_series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]
result = num_series.take(element_pos)
print("\nExtract items at given positions of the said series:")
print(result)

Extract items at given positions of the said series:
0     2
2     9
6     8
11    0
21    3
dtype: object

32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series

In [61]:
# Create a sample series
series = pd.Series([5, 10, 3, 8, 6, 12, 9])

# Find positions of values neighboured by smaller values on both sides
positions = []

for i in range(1, len(series) - 1):
    if series[i] > series[i-1] and series[i] > series[i+1]:
        positions.append(i)

print("Positions of values neighbored by smaller values on both sides:")
print(positions)

Positions of values neighbored by smaller values on both sides:
[1, 3, 5]

40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

In [62]:
df_data = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]})
sr_data = pd.Series([68, 75, 86, 80, None]) 
print("Original DataFrame:")
print(df_data)
print("\nOriginal Series:")
print(sr_data)
print("\nCheck for inequality of the said series & dataframe:")
print(df_data.ne(sr_data, axis = 0))

Original DataFrame:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Check for inequality of the said series & dataframe:
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True